[global_info]
organization = Название
object = AAA

[display_with_1c_connect]
startX = 0
startY = 0
sizeW = 1920
sizeH = 1061
path_exe_1c = C:\"Program Files (x86)"\1cv82\common\1cestart.exe
connector_name = V82.COMConnector
type_connect_1c = file
file_path_1c = C:\\1C_Base
bd_1c = Winitel_test
usr_1c = Python
pas_1c = Python
